<div class="wuzzler">
    <div class="wuzzler__wrapper">
        <h1>{{ title | uppercase }}</h1>

        <div class="wuzzler__fieldname--header">
            <h2>Füge Mitspieler hinzu</h2>
            <button class="plus" (click)="addNameField()">+</button>
        </div>
        <div class="wuzzler__fieldname--wrapper">
            <div id="name0" class="wuzzler__item">
                <input
                    class="wuzzler__item-name"
                    type="text"
                    placeholder="Name"
                />
                <button id="0" class="minus" (click)="removeNameField()">
                    -
                </button>
            </div>
        </div>

        <h2>Wähle die Größe der Teams</h2>
        <input
            id="team-size"
            class="wuzzler__input-number"
            type="number"
            placeholder="z.b. 4"
        />

        <h2>Wähle die Anzahl der Teams</h2>
        <input
            id="team-number"
            class="wuzzler__input-number"
            type="number"
            placeholder="z.b. 3"
        />

        <button id="submit" (click)="drawTeams()">Auslosen</button>

        <div id="wuzzler__result"></div>
    </div>
</div>
